<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="/public/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(currentposition, positionerr);
        } else {
            console.log("browser doesn't support geolocation");
        }

        function positionerr(err){
            console.log(err);
            document.getElementById("position").innerHTML = "Error";

        }

        function currentposition(position) { // timer
            console.log(position);
            var dining_hall = "John Jay";
            // document.getElementById("position").innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/location");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            const body = JSON.stringify({
                dining_hall: dining_hall
            });
            xhr.onload = () => {
                if (xhr.readyState == 4 && xhr.status == 201) {
                    console.log(JSON.parse(xhr.responseText));
                } else {
                    console.log("Error:", xhr.status);
                }
            };
            xhr.send(body);
        }
    </script>

    <script>
        function updateTable() {
            var dining_hall = "John Jay";
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/location");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            const body = JSON.stringify({
                dining_hall: dining_hall
            });
            xhr.onload = () => {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(JSON.parse(xhr.responseText));
                    var dining_halls = JSON.parse(xhr.responseText);
                    var tablehtml = "";
                    for (dining in dining_halls) {
                        tablehtml += "<tr><td>";
                        tablehtml += dining;
                        tablehtml += "<br>" + dining_halls[dining];
                        tablehtml += "</td></tr>";
                    }
                    document.getElementById("main_table").innerHTML = tablehtml;
                } else {
                    console.log("Error:", xhr.status);
                }
            };
            xhr.send(body);

            setTimeout(updateTable, 1.0*1000);
        }

        window.onload = updateTable();

        function togglecheck() {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/toggle");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            const body = JSON.stringify({
                toggle: document.getElementById("swipe").checked
            });
            xhr.onload = () => {
                
            };
            xhr.send(body);
        }
    </script>
    mealmate
    <div id="position">

    </div>

    <label class="switch">
        <input id = "swipe" type="checkbox" onclick="togglecheck()">
        <span class="slider round"></span>
    </label>

    <table id = "main_table">
    </table> 

</body>

</html> 